<launch>

  <!--play rosbag-->
  <!--<node pkg="rosbag" type="play" name="rosbag_player" output="screen" args="/home/mmmfarrell/DeepTurtleControl/data/test.bag"/>-->
  <node pkg="rosbag" type="play" name="rosbag_player" output="screen" args="/home/mmmfarrell/DeepTurtleControl/data/circle.bag"/>

  <!-- Predict from saved model-->
  <node pkg="deep_turtle" type="predict_classical.py" name="neural_controller" output="screen">
    <remap from="rgb_image" to="/cv_camera/image_raw"/>
  </node>


</launch>
