<launch>

  <!--Launch Turtlebot-->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <!--Launch Realsense Camera-->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>

  <!--Joy node for xbox 360-->
  <node pkg="joy" type="joy_node" name="joystick"/>

  <!--Custom Joy commander-->
  <node pkg="deep_turtle" type="custom_joy_cmd.py" name="joy_command" output="screen">
    <param name="joy_velocity_max" value="0.5"/>
    <param name="joy_omega_max" value="1."/>
    <param name="constant_vel" value="0.25"/>
    <remap from="turtle_cmd" to="/mobile_base/commands/velocity"/>
  </node>

  <!--Data Recorder-->
  <node pkg="deep_turtle" type="record_data_node.py" name="data_recorder" output="screen">
    <param name="test_name" value="constant_vel_0_25"/>
    <remap from="record_data" to="/record_data"/>
    <remap from="rgb_image" to="/camera/color/image_raw"/>
    <remap from="depth_image" to="/camera/depth/image_rect_raw"/>
    <remap from="turtlebot_command" to="/mobile_base/commands/velocity"/>
  </node>

</launch>
